
body {
  background: black;
  max-width: 900px; /***********/
  margin: auto;
}

.btn /*, .form-control*/
{
  border-radius: 0;
}

.nav-item.active {
  background: #333 !important;
}

.form-check-input {
  margin-top: 4px;
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}

@keyframes animate-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes swipe-right {
  40% {
    transform: translateX(20px);
  }
}
